@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

#title {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    2px 2px 0 black;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px gray;
  }
  .font-outline-4 {
    -webkit-text-stroke: 3px black;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Estilos para dispositivos móviles */
@media (max-width: 640px) {
  /* Ajustar el tamaño de fuente y el espaciado para mejorar la legibilidad */
  body {
    font-size: 14px;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  p {
    @apply text-sm;
  }

  /* Ajustar el espaciado interno y externo de los elementos */
  .container {
    @apply px-4;
  }

  .btn {
    @apply px-3 py-2;
  }

  /* Ajustar el tamaño de las imágenes */
  img {
    @apply w-full h-auto;
  }

  /* Ajustar el tamaño de los campos de formulario */
  input,
  textarea,
  select {
    @apply w-full;
  }

  /* Ocultar elementos no necesarios en dispositivos móviles */
  .desktop-only {
    @apply hidden;
  }
}

/* Estilos para pantallas más grandes */
@media (min-width: 640px) {
  /* Ocultar elementos no necesarios en pantallas más grandes */
  .mobile-only {
    @apply hidden;
  }
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}
